<!DOCTYPE html
  PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>Your results!</title>
  <!-- Designed by https://github.com/kaytcat -->
  <!-- Robot header image designed by Freepik.com -->

  <style type="text/css">
    /*
>>>>>>>>> CHANGING PROGRESS STEP IMAGES <<<<<<<<<<<<<<<

-If you would like to change the progress step images from 3 to any other step please view the html comments below.
-You just need to switch the provided image url's.


*/





    @import url(http://fonts.googleapis.com/css?family=Droid+Sans);

    /* Take care of image borders and formatting */

    img {
      max-width: 600px;
      outline: none;
      text-decoration: none;
      -ms-interpolation-mode: bicubic;
    }

    a {
      text-decoration: none;
      border: 0;
      outline: none;
      color: #bbbbbb;
    }

    a img {
      border: none;
    }

    /* General styling */

    td,
    h1,
    h2,
    h3 {
      font-family: Helvetica, Arial, sans-serif;
      font-weight: 400;
    }

    td {
      text-align: center;
    }

    body {
      -webkit-font-smoothing: antialiased;
      -webkit-text-size-adjust: none;
      width: 100%;
      height: 100%;
      color: #37302d;
      background: #ffffff;
      font-size: 16px;
    }

    table {
      border-collapse: collapse !important;
    }

    .headline {
      color: #ffffff;
      font-size: 36px;
    }

    .force-full-width {
      width: 100% !important;
    }

    .step-width {
      width: 110px;
      height: 111px;
    }
  </style>

  <style type="text/css" media="screen">
    @media screen {

      /*Thanks Outlook 2013! http://goo.gl/XLxpyl*/
      td,
      h1,
      h2,
      h3 {
        font-family: 'Droid Sans', 'Helvetica Neue', 'Arial', 'sans-serif' !important;
      }
    }
  </style>

  <style type="text/css" media="only screen and (max-width: 480px)">
    /* Mobile styles */
    @media only screen and (max-width: 480px) {

      table[class="w320"] {
        width: 320px !important;
      }

      img[class="step-width"] {
        width: 80px !important;
        height: 81px !important;
      }


    }
  </style>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body class="body" style="padding:0; margin:0; display:block; background:#ffffff; -webkit-text-size-adjust:none"
  bgcolor="#ffffff">
  <table align="center" cellpadding="0" cellspacing="0" width="100%" height="100%">
    <tr>
      <td align="center" valign="top" bgcolor="#ffffff" width="100%">
        <center>
          <table style="margin: 0 auto;" cellpadding="0" cellspacing="0" width="600" class="w320">
            <tr>
              <td align="center" valign="top">

                <table style="margin: 0 auto;" cellpadding="0" cellspacing="0" width="100%" style="margin:0 auto;">
                  <tr>
                    <td style="font-size: 30px; text-align:center;">
                      <!-- <br>
                      codePannu
                      <br> -->
                      <br>
                    </td>
                  </tr>
                </table>

                <table style="margin: 0 auto;" cellpadding="0" cellspacing="0" width="100%" bgcolor="#FCE205">
                  <tr>
                    <td class="headline">
                      <br>
                      Your results!
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <br>
                      <center>
                        <table style="margin:0 auto;" cellspacing="0" cellpadding="0" class="force-width-80">
                          <tr>
                            <td style="vertical-align:top; color:#187272; font-weight:bold;font-size:36px;">
                              1   
                            </td>
                            <td>
                              <i class="fa fa-arrow-right" style="color:#187272; font-size:36px; justify-content: center; padding-left: 10px; padding-right: 10px;"></i>
                            </td>
                            <td style="vertical-align:top; color:#187272; font-weight:bold;font-size:36px;">
                              2   
                            </td>
                            <td>
                              <i class="fa fa-arrow-right" style="color:#187272; font-size:36px; justify-content: center; padding-left: 10px; padding-right: 10px;"></i>
                            </td>
                            <td style="vertical-align:top; color:#187272; font-weight:bold;font-size:36px;">
                              3
                            </td>
                          </tr>
                          <tr>
                            <td style="vertical-align:top; color:#187272; font-weight:bold; text-align: center;">
                              Watch<br>
                              Vides
                            </td>
                            <td></td>
                            <td style="vertical-align:top; color:#187272; font-weight:bold; text-align: center;">
                              Submit<br>
                              assignments
                            </td>
                            <td></td>
                            <td style="vertical-align:top; color:#187272; font-weight:bold; text-align: center;">
                              Get<br>
                              results!
                            </td>
                          </tr>
                        </table>
                      </center>
                    </td>
                  </tr>
                  <tr>
                    <td>

                      <center>
                        <table style="margin: 0 auto;" cellpadding="0" cellspacing="0" width="60%">
                          <tr>
                            <td style="color:#187272;">
                              <br>
                              <br>
                              Congratulations on completing all 3 steps. <br><br>
                              We reviewed your code and we are glad to inform that it was <strong>excellent</strong>. We are very
                              impressed!
                              <br>
                              <br>
                            </td>
                          </tr>
                        </table>
                      </center>

                    </td>
                  </tr>
                  <!-- <tr>
                    <td>
                      <div>
                        <a href="http://"
                          style="background-color:#178f8f;border-radius:4px;color:#ffffff;display:inline-block;font-family:Helvetica, Arial, sans-serif;font-size:16px;font-weight:bold;line-height:50px;text-align:center;text-decoration:none;width:200px;-webkit-text-size-adjust:none;">My
                          Account</a>
                      </div>
                      <br>
                      <br>
                    </td>
                  </tr> -->
                </table>

                <table style="margin: 0 auto;" cellpadding="0" cellspacing="0" width="100%" bgcolor="#187272">
                  <tr>
                    <td style="background-color:#187272;" class="headline">
                      <br>
                      Additional exercises
                    </td>
                  </tr>
                  <!-- <tr>
                    <td>
                      <img src="https://www.filepicker.io/api/file/tjUsYjIHSDCkrrniLuev" width="145" height="89"
                        alt="meter image">
                    </td>
                  </tr> -->
                  <tr>
                    <td>

                      <center>
                        <table style="margin: 0 auto;" cellpadding="0" cellspacing="0" width="60%">
                          <tr>
                            <td style="color:#ffffff;">
                              <br>
                              Doing more exercises will make you a better programmer.
                              If more practise is what you need we've got you covered!
                              <br><br>
                            </td>
                          </tr>
                        </table>
                      </center>

                    </td>
                  </tr>
                  <tr>
                    <td>
                      <div>
                        <a href="http://"
                          style="background-color:#ffffff;border-radius:4px;color:#187272;display:inline-block;font-family: Helvetica, Arial, sans-serif;font-size:16px;font-weight:bold;line-height:50px;text-align:center;text-decoration:none;width:200px;-webkit-text-size-adjust:none;">
                        Click here
                        </a>
                      </div>
                      <br>
                      <br>
                    </td>
                  </tr>
                </table>

                <table style="margin: 0 auto;" cellpadding="0" cellspacing="0" class="force-full-width"
                  bgcolor="#ffffff" style="margin: 0 auto">
                  <tr>
                    <td style="color:#bbbbbb; font-size:14px;">
                      <a href="#">View in browser</a> | <a href="https://codepannu.com#two">Contact</a>
                      <br><br>
                    </td>
                  </tr>
                  <tr>
                    <td style="color:#bbbbbb; font-size:12px;">
                      © 2014 All Rights Reserved
                      <br>
                      <br>
                    </td>
                  </tr>
                </table>





              </td>
            </tr>
          </table>
        </center>
      </td>
    </tr>
  </table>
</body>

</html>